IndentWidth: 4
ColumnLimit: 120
UseTab: Never
NamespaceIndentation: All
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeColon
IndentAccessModifiers: false
PackConstructorInitializers: NextLineOnly
PointerAlignment: Right
SpaceAfterControlStatementKeyword: false
IncludeBlocks: Merge
IncludeCategories:
  - Regex:           '<[[:alnum:]]+>'
    Priority:        1
  - Regex:           '<AquaSKK'
    Priority:        3
  - Regex:           '<([[:alnum:]]+)/'
    Priority:        2

