--enable acronyms,blankLineAfterSwitchCase,blankLinesBetweenImports,blockComments,docComments,isEmpty,noExplicitOwnership,redundantProperty,sortSwitchCases,wrapConditionalBodies,wrapEnumCases,wrapMultilineConditionalAssignment,wrapSwitchCases
