//
//  AquaSKK.xcconfig
//  AquaSKK
//
//  Created by mzp on 7/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./Include/Cpp.xcconfig"

CODE_SIGN_ENTITLEMENTS = Sources/App/AquaSKK.entitlements
DEVELOPMENT_ASSET_PATHS = "Sources/App/Preview Content"

REGISTER_APP_GROUPS = YES

OTHER_LDFLAGS = -framework AquaSKKCore -framework AquaSKKIM -framework Carbon

GENERATE_INFOPLIST_FILE = YES
// INFOPLIST_KEY_LSBackgroundOnly = 1
INFOPLIST_KEY_NSHumanReadableCopyright = "Copyright (C) 2025 Codefirst"
INFOPLIST_FILE = Sources/App/Info.plist

INSTALL_PATH =$(LOCAL_LIBRARY_DIR)/Input Methods

SKIP_INSTALL = NO
