//
//  InputMethod.xcconfig
//  AquaSKK
//
//  Created by mzp on 7/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OTHER_LDFLAGS = $(inherits) -framework AppKit -framework InputMethodKit -framework AquaSKKCore -framework AquaSKKService -framework AquaSKKUI -framework AquaSKKBackend

MODULEMAP_FILE = Sources/Input/AquaSKKInput.modulemap
MODULEMAP_PRIVATE_FILE = Sources/Input/AquaSKKInput.Private.modulemap

SWIFT_INSTALL_OBJC_HEADER = YES
