//
//  Cpp.xcconfig
//  AquaSKK
//
//  Created by mzp on 8/2/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLANG_CXX_LANGUAGE_STANDARD = c++11
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c++
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = gnu++11

SWIFT_OBJC_INTEROP_MODE = objcxx
