//
//  AquaSKK.xcconfig
//  AquaSKK
//
//  Created by mzp on 7/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_ENTITLEMENTS = Sources/AquaSKK/AquaSKK.entitlements
DEVELOPMENT_ASSET_PATHS = "Sources/AquaSKK/Preview Content"

REGISTER_APP_GROUPS = YES

OTHER_LDFLAGS = -framework AquaSKKEngine -framework AquaSKKServer -framework Carbon

GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Sources/AquaSKK/Info.plist
