//
//  PreferenecesApp.xcconfig
//  AquaSKK
//
//  Created by mzp on 7/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_ENTITLEMENTS = Sources/AquaSKK-Preferences/AquaSKK_Preferences.entitlements
DEVELOPMENT_ASSET_PATHS = "Sources/AquaSKK-Preferences/Preview Content"

REGISTER_APP_GROUPS = YES

OTHER_LDFLAGS = -framework AquaSKKEngine -framework AquaSKKInputMethod -framework Carbon
